
body {
    
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: 200px;
}

.main-div {
    justify-content: center;
    width: 500px;
}

header {
    
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: rebeccapurple;
    text-transform: uppercase;
    text-align: center;
}

form {
    margin-top: 20px;
}


#email, #subject, #message {
    /*display: block;*/ 
    width: 300px;
    height: 1.5rem;
    outline: none;
}






/* START BUTTON SECTION */ 
.send {
    background-color: blue;
    color: white;
    text-transform: uppercase;
    border: none;
}

.reset-btn {
    background-color: green;
    color: white;
    text-transform: uppercase;
    border: none;
}

.bad {
    color: yellow;
    background-color: brown;
    cursor: not-allowed;
    opacity: 0.7;
}

/* END BUTTON SECTION */

/* validate inputs*/
.incorrect {
    color: red;
    border: 2px solid red
}

.correct {
    color: green;
    border: 2px solid green;
}